:root {
  --background: #ffffff;
  --foreground: #000000;
  --color-white: #ffffff;
  --color-black: #000000;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: clamp(1rem, 0.5rem + 1vw, 1.25rem);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.hide-scrollbar {
  overflow-x: auto;
  overflow-y: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    height: 0; /* hide horizontal scrollbar in WebKit */
    width: 0;  /* hide vertical scrollbar in WebKit */
    background: transparent;
  }
}