footer{
    width: 100%;
    margin-top: 0.5rem;
    padding-top: 0.3rem;
    // background-color: rgb(253, 143, 143);
}

// .secondary-slider-wrapper{
//     margin-top: 0.4rem;
    
//     .secondary-slider-track{
//         display: flex;
//         overflow-x: auto;
//         gap: 0.5rem;
        
//     }
// }

// .footer-marquee-slide{
//     flex: 0 0 auto;
// }

.agency-credit {
    text-align: center;
    background-color: var(--foreground);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;

    p{
        font-size: 1rem;
        color: var(--background);
    }
}

.footer-slider-wrapper {
  position: relative;
  width: 100%;
  // height: 200px;
  // overflow: hidden;
}

.footer-image-container {
  position: relative;
  // transition: opacity 0.5s ease-in-out;
  width: 100vw;
  aspect-ratio: 4/3;

  img{
    object-fit: cover;
    display: block;
  }
}

.footer-image-container.fade-out {
  opacity: 0;
}

.footer-image-container.fade-in {
  opacity: 1;
}