footer{
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.3rem 0rem;
    background-color: black;

    .footer-image-wrapper{
        position: relative;
        width: 100%;
        aspect-ratio: 5 / 2.5;
    }
}